*{
    margin: 0;
}

.container{
    width: 1000px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: pink;
    color: yellow;
    padding: 10px;
    font-family: monospace;
}

li{
    display: inline-block;
    font-size: 12px;
    padding: 4px;
}